[Unit]
Description=Hysteria2 Server
After=network.target

[Service]
Type=simple
Environment=GOGC=50
Environment=GOMEMLIMIT=96MiB
ExecStart=/usr/local/bin/hysteria server -c /opt/verges/indigenous-node/generated/hysteria2.yaml
Restart=always
RestartSec=3s
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
